<div class="corner-ribbon top-right sticky {{env_color}}">{{env}}</div>

<div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row
      [ngClass]="{'cat': row.Type == 'cats', 'dog': row.Type == 'dogs', 'fish': row.Type == 'fishes', 'pet': row.Type == 'pets'}"
      *matRowDef="let row; columns: displayedColumns"></mat-row>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="kind">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kind</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Kind}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Age}}</mat-cell>
    </ng-container>s
    <ng-container matColumnDef="pic">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Url</mat-header-cell>
      <mat-cell *matCellDef="let element"><img style="height: 100px; width: 100px;" [src]="element.URL" /></mat-cell>
    </ng-container>
    <ng-container matColumnDef="from">
      <mat-header-cell *matHeaderCellDef mat-sort-header>From</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.From}}</mat-cell>
    </ng-container>
  </mat-table>

</div>

<mat-card>
  <mat-card-content>
    <p>
      {{hostnamesstr}}
    </p>
  </mat-card-content>
</mat-card>
