.cats {
    background-color: rgb(136, 176, 75)
}

.dogs {
    background-color: rgb(218, 153, 33)
}

.fishes {
    background-color: rgb(245, 223, 77)
}

.elephants {
    background-color: rgb(220, 220, 220)
}

.birds {
    background-color: rgb(100, 215, 219)
}

.petscontainer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}