.cat {
    background-color: rgb(136, 176, 75)
}

.dog {
    background-color: RGB(152, 180, 212)
}

.fish {
    background-color: rgb(245, 223, 77)
}

.petscontainer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}