<!--
<div class="app-content">
  <div>
    <input placeholder="Search" (keyup.enter)="search($event)"/>
  </div>
  <table style="width: 100%; margin-top: 10px; border-collapse: collapse">
    <thead style="text-align: left">
      <tr>
        <th>Name</th>
        <th>Kind</th>
        <th>Age</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of pets" style="border-top: 1px solid black">
        <td>{{ pet.Name }}</td>
        <td>{{ pet.Kind }}</td>
        <td>{{ pet.Age }}</td>
        <td><img src="{{ pet.Url}}"/></td>
      </tr>
    </tbody>
  </table>

</div>
-->
<div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row [ngClass]="{'cat': row.Type == 'cats', 'dog': row.Type == 'dogs', 'fishes': row.Type == 'fishes'}" *matRowDef="let row; columns: displayedColumns"></mat-row>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="kind">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kind</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Kind}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Age}}</mat-cell>
    </ng-container>s
    <ng-container matColumnDef="pic">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Url</mat-header-cell>
      <mat-cell *matCellDef="let element"><img style="height: 100px; width: 100px;" [src]="element.URL" /></mat-cell>
    </ng-container>
  </mat-table>

</div>
